body {
    background-color: #e3e6f7;
    font-family: "Oleo Script", cursive;
  }
  
  .main {
    background-color: #ffffff;
    padding: 30px 3%;
    width: 600px;
    height: 600px;
    margin: 3em auto;
    border-radius: 1em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  }
  
  .signintext {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
  }
  
  .signinform {
    position: relative;
    left: 40px;
  }
  
  .formgroup {
    line-height: 2;
    padding: 12px;
    font-size: 1.3rem;
  }
  
  .formtext {
    display: block;
    font-size: 16px;
  }
  
  .inputbox {
    width: 83%;
    height: 50px;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    background: #e3e6f7;
    padding: 15px 30px;
    border: 1px solid #697cb6;
    border-radius: 8px;
  }

  input::placeholder{
    font-family: "Oleo Script", cursive;
  }
  
  .formgroup:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
  }
  
  .submit {
    width: 79%;
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    background: #697cb6;
    border: 0;
    padding: 15px 30px;
    font-size: 16px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin: 20px 15px;
  }
  
  .signinextras {
    text-align: center;
    line-height: 3;
    margin-top: 40px;
  }
  
  .forgotpassword {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    text-decoration: none;
    opacity: 0.6;
    position: relative;
    left: 320px;
  }
  
  .forgotpassword:hover {
    text-decoration: underline;
  }
  
  .signingoogle {
    text-decoration: none;
    color: #000;
  }
  
  .googleicon {
    height: 35px;
    width: 35px;
  }
  
  .sign {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    bottom: 12px;
  }
  
  .createaccount {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
  
  .accountlink {
    text-decoration: none;
  }
  