.container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

.wrapper {
  width: 100%;
  max-width: 48em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  padding: 3em;
  padding-top: 4em;
  border-radius: 1.4em;
  background: white;
  border: 1px solid #E5E8EB;
  box-shadow: 26px 18px 18px rgba(93, 134, 194, 0.05);
  border-radius: 20px;
  animation: scale 150ms;
  position: relative;
}

@keyframes scale {
  from {
    transform: scale(0.95);
  }

  to {
    transform: scale(1);
  }
}

.closeIcon {
  position: absolute;
  top: 1em;
  right: 1em;
}

.heading {
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
  /* border: 1px solid red; */
}

.inputContainer {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 1em;
}

.inputContainer input {
  width: 100%;
  /* padding: 1em; */
}

.date {
  white-space: nowrap;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em;
}

.buttonContainer {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newCategory {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}