*{
  box-sizing: border-box;
}

body{
    background-color: #e3e6f7;
    font-family: "Oleo Script", cursive;
  }
  
  .main {
    background-color: #ffffff;
    padding: 10px 3% 30px;
    width: 600px;
    height: 650px;
    margin: 1em auto;
    border-radius: 1em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  }
  
  .signuptext {
    font-weight: bold;
    font-size: 30px; 
    text-align: center;
    margin: 10px 0;
  }
  
  .signupform {
    position: relative;
    left: 50px;
  }
  
  .formgroup {
    line-height: 2;
    padding: 10px;
    font-size: 1.3rem;
  }
  
  .formtext {
    display: block;
    font-size: 16px;
  }
  
  .inputbox {
    width: 83%;
    height: 50px;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    background: #e3e6f7;
    padding: 15px 30px;
    border: 1px solid #697cb6;
    border-radius: 8px;
    opacity: 0.7;
  }

  input::placeholder{
    font-family: "Oleo Script", cursive;
  }
  
  .formgroup:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
  }
  
  .submit {
    width: 79%;
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    background: #697cb6;
    border: 0;
    padding: 15px 30px;
    font-size: 16px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin: 15px;
  }
  
  .signupextras {
    text-align: center;
    margin-top: 15px;
  }
  
  .signupgoogle {
    text-decoration: none;
    color: #000;
  }
  
  .google-icon {
    height: 35px;
    width: 35px;
  }
  
  .sign {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    bottom: 12px;
  }
  